<div class="postSample" id="container-questionnaire">
    <h1>New Rule</h1>

    <hr>

    <div class="instructions well">
            <div class="row">

                <div class="alert alert-warning">
                    <b>Warning</b>: The rule is now going to change. Please forget the rule you learned previously and start over.
                </div>
            </div>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" onclick="nextPhase();">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
