<div id="container-questionnaire">
	<div class="instructions well">
		<h1>The Rule</h1>

		<p>The actual rule was that there were two categories of motion directions. When the two motions you saw were in the same category, you pressed the space bar.</p>

        
		<div class="col-md-3">
		<img src="/../../static/images/category.png" width="550">
		</div>
		
		<div class="instructionsnav">
			<div class="row">
				<div class="col-xs-3">
  				<button id="but_done" class="btn btn-primary btn-lg continue">Continue</button>
				</div>
			</div>
		</div>

	</div>

</div>

<script>
			$("#but_done").click(function() {	
				nextPhase();
	  	});

</script>
